.container-accordion {
    margin-top: 125px;
    margin-bottom: 125px;

}

.accordion-button {
    background-color: #9453a6;
    // border-color: #591a6b;
    border: 3px solid #591a6b;

}

.accordion-collapse {
    background-color: #9453a6;
    border: 1px solid #591a6b;
}

.accordion-body {
    background-color: #b58ac18a;
    // border-color: #591a6b;
    border: 3px solid #591a6b;

}