.mediaGallery {
    width: 80vw;
    max-width: 100vw;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 50px;

}

.photoGallery {
    margin-top: 60px;
}

.videoGallery {
    margin-top: 60px;
}